/* Navbar CSS ------------ */

.navbar {
  background-color:#242424;
  height: 92px;
  justify-content: center;
  gap: 10px;
}

.navbar-title {
  font-size: xx-large;
  font-weight: bold;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* Hero section CSS ------------ */

.hero-section {
  width: 100%;
  height: 570px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./marvel.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-section-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;

  margin: 0 auto;
  padding: 20px;

  height: 100%;
  width: 50%;
  color: white;

  text-transform: uppercase;
}

.hero-image {
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section-title {
  font-weight: bold;
}

.hero-button{
  background-color: #e62429;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border: none;
  height: 45px;
  padding: 0 16px;
  transform: skewX(-30deg);
}

.hero-button-span{
  display: inline-block;
  transform: skewX(30deg);
}

.hero-button:hover {
  background-color: #ca2020
}

/* New section CSS ------------ */

.new-section {
  padding: 48px 20px 0 20px;
  max-width: 1300px;
  margin: 0 auto;

  text-transform: uppercase ;
  color: black;
  font-weight: 800;
  font-size: 1.5em;

  display: flex;
  justify-content: space-between;
}

.options {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
}

.option-item {
  display: flex;
  align-items: center;
  justify-content: center;
 
  border-radius: 5%;
  height: 30px;
  width: 70px;
  gap: 4px;

  color: black;
  font-size: 16px;

  transition: background-color 0.3s ease;
}

.option-item:hover {
  background-color: #cccc;
  text-decoration: none;
}

/* Loadmore button ------------ */

/* Load More Section Styles */
.load-more-section {
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
