<!-- Navbar component ============== -->


<nav class="navbar">
  <a class="navbar-title" routerLink="home">The Comic Vault</a>
</nav>

<!-- Hero section component ============== -->


<div class="hero-section">
  <div class="hero-section-info">
    <h1 class="hero-section-title">Welcome to the Comic Vault</h1>
    <p class="hero-section-description">a place where you can find all about your
      favorite comic books. </p>
    <button  (click)="randomComic()" class="hero-button"><span class="hero-button-span">Read a random one!</span></button>
  </div>
</div>

<!-- <script>
  function randomComic() {
    let randomNumber = Math.floor(Math.random() * 100) + 5;
    console.log(randomNumber);
    return randomNumber
  }

</script> -->



<!--News / options component ============== -->

<div class="new-section">
  Comics in vault
  <div class="option-container">
    <ul class="options">
      <li>
        <a class="option-item" routerLink="home"><img class="option-icon" src="../assets/grid-icon.svg" alt=""> Grid</a>
      </li>
      <li>
        <a class="option-item" routerLink="list"><img class="option-icon" src="../assets/list-icon.svg" alt="">List</a>
      </li>
    </ul>
  </div>
</div>


<router-outlet></router-outlet>